<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/hermes-brand.png"
        alt="Hermes logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Hermes
    </a>

    <div>
      <button
        type="button"
        class="btn user-icon"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="fa-regular fa-user"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" type="button">User</a></li>
        <li><a class="dropdown-item" type="button">Sign in</a></li>
        <li>
          <a class="dropdown-item" type="button">Sign out</a>
        </li>
        <li>
          <a class="dropdown-item" type="button">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
