<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/hermes-brand.png"
        alt="Hermes logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Hermes
    </a>

    <div>
      <button
        type="button"
        class="btn user-icon"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="fa-regular fa-user"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        @if (isAuth) {
        <li>
          <a class="dropdown-item" type="button" routerLink="/user"
            >{{ user ? user.name : "User" }}'s page</a
          >
        </li>
        <li>
          <a class="dropdown-item" type="button" (click)="onSignOut()"
            >Sign out</a
          >
        </li>
        }@else {
        <li>
          <a class="dropdown-item" type="button" routerLink="/sign-in"
            >Sign in</a
          >
        </li>
        <li>
          <a class="dropdown-item" type="button" routerLink="/sign-up"
            >Sign up</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
