<div class="container mt-3 w-100">
  @if(this.context() === 'CategoryProducts'){
  <a class="p-3 ms-3" (click)="onBackToCategories()">Back to the categories</a>
  } @if(this.context() === 'Products'){
  <app-search-bar
    [searchProductTitle]="this.searchFilters?.title"
    [searchCategoryFilter]="this.searchFilters?.categoryId"
    [searchPriceMinimumFilter]="this.searchFilters?.price_min"
    [searchPriceMaximumFilter]="this.searchFilters?.price_max"
    (search)="onSearch($event)"
  />
  } @if(!this.error && !this.loading && this.subjects.length > 0){
  <div
    class="subject-list d-flex flex-column"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <div>
      @if(this.context() === 'Categories'){
      <h2>Go to the products by category</h2>
      } @for(subject of this.subjects; track subject ){
      <app-card [subject]="subject" [context]="this.context()" />
      }
    </div>
  </div>
  }@else if(!this.error && !this.loading && this.subjects <= 0 && this.context()
  === 'Products'){
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="mb-2">
            Could not find products based on what you have searched.
          </h3>
          <p class="mb-5">
            Check for errors or if you filtered correctly, and try again.
          </p>
          <button class="btn px-5" (click)="onResetSearch()">
            Reset search
          </button>
        </div>
      </div>
    </div>
  </div>
  }@else if(!this.error && !this.loading && this.subjects <= 0 && this.context()
  === 'CategoryProducts'){
  <div class="container">
    <h4 class="mt-5">
      There are no products in this category. Try search in another category
    </h4>
  </div>
  }@else if(!this.loading && this.error){
  <app-error
    [message]="
      'An error occurred when trying to get what you wanted. Try again later'
    "
  />
  }@else{
  <app-loading [loadingMessage]="'Loading...'" />
  }
</div>
