<div class="container mt-5 w-100">
  @if(this.context() === 'CategoryProducts'){
  <a class="p-3 ms-3" (click)="onBackToCategories()">Back to the categories</a>
  } @if(!this.loading){
  <div
    class="subject-list d-flex flex-column"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <div>
      @if(this.context() === 'Categories'){
      <h2>Go to the products by category</h2>
      } @for(subject of this.subjects; track subject ){
      <app-card [subject]="subject" [context]="this.context()" />
      }
    </div>
  </div>
  }@else{
  <app-loading [loadingMessage]="'Loading...'" />
  }
</div>
