<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1 class="d-flex justify-content-center align-items-center gap-2 mb-4">
          Not found
        </h1>
        <h3 class="mb-2">Could not find the page you were looking for.</h3>
        <p class="mb-5">The page you are looking for was not found.</p>
        <button
          class="btn"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          role="button"
        >
          Back to Home
        </button>
      </div>
    </div>
  </div>
</div>
