<div class="card mb-3 p-2">
  @if(context() === 'Products' || context() === 'CategoryProducts'){
  @if(imageUrl){
  <img src="{{ imageUrl }}" class="card-img-top" />
  }

  <div class="card-body">
    <div class="d-flex"></div>
    <a class="anchor fw-bold card-text" (click)="onProductCardClicked()">{{
      subject().title
    }}</a>
    <p class="card-text">{{ subject().price | currency : "USD" }}</p>
    <div class="d-flex">
      <p class="fst-italic me-2">Category:</p>
      <p class="card-text">{{ subject().category.name }}</p>
    </div>
  </div>
  }@else if(context() === 'Categories'){ @if(subject().image ||
  subject().category.image){
  <img src="{{ subject().image }}" class="card-img-top" />
  }

  <div class="card-body">
    <div class="d-flex"></div>
    <a class="anchor fw-bold card-text" (click)="onCategoryCardClicked()">{{
      subject().name
    }}</a>
  </div>
  }
</div>
