<div class="container mt-5">
  <h2 class="mb-2">Sign up</h2>
  <form class="mb-5" #f="ngForm" (ngSubmit)="onSignUp(f)">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        required
        ngModel
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        required
        ngModel
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        required
        ngModel
        name="password"
      />
    </div>
    <div class="mb-3">
      <label for="inputAvatar" class="form-label">Avatar(URL)</label>
      <input
        type="text"
        class="form-control"
        id="inputAvatar"
        required
        ngModel
        name="avatar"
      />
    </div>
    <app-submit-cancel [submitText]="'Sign up'" />
  </form>

  @if(error){
  <app-error [message]="this.errorMessage" />
  }
</div>
