<div class="container mt-5">
  <h2 class="mb-2">Sign in</h2>
  <form class="mb-5" #f="ngForm" (ngSubmit)="onSignIn(f)">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        required
        ngModel
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        required
        ngModel
        name="password"
      />
    </div>
    <app-submit-cancel [submitText]="'Sign in'" />
  </form>

  @if(error){
  <app-error
    [message]="
      'Error when signing in. Check your email and password and try again'
    "
  />
  }
</div>
