@import "../../../styles.scss";

a{
    text-decoration: none;
    color: black;

    &:hover, &:active, &:focus{
        color: white;
    }
}

.sidenav{
    width: 100%;
    background-color: $base-orange;
    border: 0.15rem solid $dark-orange;
}
