@import "../../../styles.scss";

a{
    text-decoration: none;
    color: black;

    &:hover, &:active, &:focus{
        background-color: $dark-orange;
        color: white;
    }
}

.sidenav{
    width: 15%;
    background-color: $base-orange;
    border: 0.15rem solid $dark-orange;
}


@media screen and (max-width: 600px){
    .sidenav{
        width: 25%;
    }
}