@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/assets/fonts/YsabeauInfant-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

$poppins-font: "Poppins", sans-serif;
$ysabeau-font:  "YsabeauInfant", sans-serif;

$dark-orange: #ffb561;
$base-orange: #ffbd71;
$light-orange: #fadcb2;

body{
    background-color: $light-orange;
    color: black;
    font-family: $poppins-font;
}

.anchor {
    color: black;
    cursor: pointer;
}

.btn{
    background-color: $dark-orange;
    border: 0.1rem solid black;

    &:hover, &:active, &:focus{
        background-color: $base-orange;
        color: white;
        border: 0.1rem solid white;
    }
}
